<h2>Gráfico de Funcionários por Faixa Salarial</h2>
<div class=card-img-top>
  <%= column_chart @funcionarios_por_faixa %>
</div>

<h2>Listagem de Funcionários por Faixa Salarial</h2>
<table class="table table-striped table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Faixa Salarial</th>
      <th>Quantidade de Funcionários</th>
      <th>Nome dos Funcionários</th>
    </tr>
  </thead>
  <tbody>
    <% @funcionarios_por_faixa.each do |faixa ,quantidade| %>
      <tr>
        <td><%= faixa %></td>
        <td><%= quantidade[0] %></td>
        <td><%= quantidade[1].join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

