$('#newPorpForm').html("<%= escape_javascript render('form', proponente: @proponente) %>");

$("#proponente_salario").on("blur", function () {
  var salario = parseFloat($(this).val());

  // Realizar a requisição Ajax para calcular o desconto do INSS
  $.ajax({
    type: "GET",
    url: "<%= calcular_inss_proponentes_path(@proponente) %>",
    data: { salario: salario },
    success: function (data) {
      $("#proponente_desconto_inss").val(data.desconto.toFixed(2));
      $("#desconto-inss").text(data.desconto.toFixed(2));
    },
  });
});

//remove old validation messages
$(".notice").remove();

//display new validation messages
<% @proponente.errors.full_messages.each do |message| %>
$(“#helpBlock”).append(‘<div class=”notice”><%= escape_javascript(message)%></div>’);
<% end %>
